.lomadee-shortcode-offers-list ul {
	list-style: none;
    padding-left: 0px;
}
.lomadee-shortcode-offers-list {
    margin: auto;
    padding: 5px;
    width: 700px;
}
.lomadee-shortcode-offers-item {
	height: 120px;
    padding: 10 0px 10px 0px;
}
.lomadee-shortcode-offers-item-image {
    display: inline;
    float: left;
    width: 20%;
	height: 100%;
    text-align: center;
    padding: 0 5px 0px 5px;
}
.lomadee-shortcode-offers-item-name {
    display: inline;
    float: left;
    width: 45%;
	height: 100%;
    font-size: 14px;
}
.lomadee-shortcode-offers-item-name a{
    color: #666666;
}
.lomadee-shortcode-offers-item-name p{
    margin: 0px;
}
.lomadee-shortcode-offers-seller-image {
    display: inline;
    float: left;
    width: 15%;
	height: 100%;
    padding: 0 5px 0px 5px;
}
.lomadee-shortcode-offers-item-price {
    display: inline;
    float: left;
    width: 20%;
	height: 100%;
	padding-left: 10px;
}
.lomadee-shortcode-offers-item-price p{
    margin: 0px;
	font-size: 14px;
	color: #666666;
}
.lomadee-shortcode-offers-item-data-price a{
    color: #126bff;
    font-size: 18px;
    font-weight: bold;
    display: block;
}

